.jumbotron {
     position: relative;
     background: none;
     height: 270px;
     padding: 5px;
     margin-bottom: 20px;
     font-size: 10px;
     font-weight: 200;
     line-height: 2.1428571435;
 }
 .jumbotron:after {
     content:"";
     background: url("../assets/images/j12.png");
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;
 }