<div class="container">
    <div class="jumbotron">
        <h1>{{ model.titulo}}</h1>
        <p>{{ model.cuerpo }}</p>
        <br>
        <p>{{ model.descp}}</p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>{{ tema1.titulo}}</h2>
            <p>{{ tema1.p1}}</p>
            <p><a class="btn btn-default" href="#" role="button">Leer más »</a></p>
        </div>
    </div>
</div>

<script type="javascript">
    var jumboHeight = $('.jumbotron').outerHeight();
    function parallax(){
        var scrolled = $(window).scrollTop();
        $('.bg').css('height', (jumboHeight-scrolled) + 'px');
    }

    $(window).scroll(function(e){
    parallax();
    });
</script>